[cd]
{{ if eq .chezmoi.os "windows" }}
    command = 'pwsh'
{{ else }}
    command = "fish"
{{ end }}
[merge]
    command = "bash"
    args = ["-c", "cp {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base && code-insiders --new-window --wait --merge {{ `{{ .Destination }}` }} {{ `{{ .Target  }}` }} {{ `{{ .Target }}` }}.base {{ `{{ .Source }}` }}"]
[edit]
    command = "code"
    args = ["--wait"]